<nav class="fixed bg-white w-screen px-10 py-5 font-bold text-xl border-b-2 z-20">
    <div class="container">
        <span>graphic to print</span> 
    </div>
</nav>

<section class="relative">
    <video autoplay loop muted class="w-full h-screen object-cover">
        <source src="assets/hero-video.mp4" />
    </video>

    <div class=" absolute top-0 left-0 w-full h-screen flex flex-col gap-6 items-center justify-center">
        <img class="max-w-md" src="assets/logo.png" />
        <h1 class="text-6xl text-center">GRAFIK-DESIGN & <br>DRUCKVERMITTLUNG</h1>
    </div>
    
</section>

<section class="bg-white my-4 py-10">
    <h1 class="uppercase">Grafik nach deinem Geschmack</h1>
    <p>Überzeuge deine Kunden und stich mit individuellem Design aus der Menge.<br>
        Visitenkarten, Flyer, Logos, Mearch und vieles mehr.<br>
        Ganz nach deinen Wünschen.</p>
</section>

<section>
    <h1 class="">DRUCKVERMITTLUNG</h1>
    <p>Ganz egal was du mit deinem Design schmücken willst, ich finde für dich die beste Qualität zum besten Preis.<br>
        Dabei können wir natürlich auch auf umweltfreundliche Materialien und Produktion achten.</p>
</section>

<section class="flex">
    
    <div class="w-50">
        <img src="assets/tmp-bg.jpg" />
    </div>
    

    <div>
        <h1>Hey, ich bin Thomas</h1>
        <p>Bei mir geht´s um deine Werbung bzw. deinen Auftritt nach außen.<br>
            Doch ich bin nicht nur ein "normaler" Grafikdesigner!<br>
            Ich hab mich auf die Produktion von Drucksorten aller Art spezialisiert.<br>
            Es gibt kaum ein Material oder einen Gegenstand, den man nicht branden kann und genau diese Vielfältigkeit fasziniert mich.<br>
            Ich hab meine Ausbildung an der Graphischen in Wien gemacht und arbeite seit meinem Abschluss als Producer für eine Werbeagentur.<br>
            Nebenberuflich bin ich selbstständig tätig, da ich meine Kunden vom Beginn des Projekts bis zum Ende begleiten und unterstützen möchte.</p>
    </div>

</section>

    