<nav class="fixed bg-white w-screen px-10 py-5 font-bold text-xl border-b-2 z-20">
    <div class="container">
        <span>graphic to print</span> 
    </div>
</nav>

<section class="relative">
    <video autoplay loop muted class="w-full h-screen object-cover">
        <source src="assets/hero-video.mp4" />
    </video>

    <div class=" absolute top-0 left-0 w-full h-screen flex flex-col gap-6 items-center justify-center">
        <img class="w-full md:w-64" src="assets/logo.png" />
        <h1 class="text-3xl md:text-6xl text-center">GRAFIK-DESIGN & <br>DRUCKVERMITTLUNG</h1>
    </div>
    
</section>

<div class="parallax"></div>

<section class="bg-white my-4 py-10 px-3">
    <div class="container block mx-auto">
        <h2 class="uppercase text-xl ">Grafik nach deinem Geschmack</h2>
    </div>
    <div class="border-b-2 border-gray-800 my-4 w-full"></div>
    <div class="container block mx-auto">
         <p>Überzeuge deine Kunden und stich mit individuellem Design aus der Menge.<br>
            Visitenkarten, Flyer, Logos, Mearch und vieles mehr.<br>
            Ganz nach deinen Wünschen.</p>
    </div>
</section>

<div class="parallax"></div>

<section class="py-10  px-3">
    <div class="container block mx-auto">
        <h2 class="uppercase text-xl">DRUCKVERMITTLUNG</h2>
    </div>
    <div class="border-b-2 border-gray-800 my-4 w-full"></div>
    <div class="container block mx-auto">
    <p>Ganz egal was du mit deinem Design schmücken willst, ich finde für dich die beste Qualität zum besten Preis.<br>
        Dabei können wir natürlich auch auf umweltfreundliche Materialien und Produktion achten.</p>
    </div>
</section>

<div class="parallax"></div>

<section class="flex flex-col md:flex-row items-stretch ">
    
    <div class="w-full md:w-1/2 p-28">
        <img class="max-w-full" src="assets/me_thomas.jpg" />
    </div>
    

    <div class="w-full md:w-1/2 bg-gray-400 p-10 md:p-28 text-white">
        <h1 class="text-5xl mb-4">Hey, ich bin Thomas</h1>
        <p>Bei mir geht´s um deine Werbung bzw. deinen Auftritt nach außen.<br>
            Doch ich bin nicht nur ein "normaler" Grafikdesigner!<br>
            Ich hab mich auf die Produktion von Drucksorten aller Art spezialisiert.<br>
            Es gibt kaum ein Material oder einen Gegenstand, den man nicht branden kann und genau diese Vielfältigkeit fasziniert mich.<br>
            Ich hab meine Ausbildung an der Graphischen in Wien gemacht und arbeite seit meinem Abschluss als Producer für eine Werbeagentur.<br>
            Nebenberuflich bin ich selbstständig tätig, da ich meine Kunden vom Beginn des Projekts bis zum Ende begleiten und unterstützen möchte.</p>
    </div>

</section>

<div class="parallax"></div>

    